<% content_for :title, "Editing order" %>

<h1>Editing order</h1>

<%= render "form", order: @order %>

<br>

<div>
  <button class="btn btn-outline-success"><%= link_to "Show this order", @order, style: 'color:white; text-decoration:none' %></button> |
  <button class="btn btn-outline-warning"><%= link_to "Back to Products", products_path, style: 'color:white; text-decoration:none' %></button>
</div>
