<p style="color: green"><%= notice %></p>

<% content_for :title, "Orders" %>

<h1>Orders</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</div>

<button class="btn btn-outline-primary"><%= link_to "New order", new_order_path, style: 'color:white; text-decoration:none' %></button>
