<% content_for :title, "New order" %>

<h1>New order</h1>

<%= render "form", order: @order %>

<br>

<div>
  <button class="btn btn-outline-warning"><%= link_to "Back to orders", orders_path, style: 'color:white; text-decoration:none' %></button>
</div>
