<% content_for :title, "Editing country" %>

<h1>Editing country</h1>

<%= render "form", country: @country %>

<br>

<div>
  <button class="btn btn-outline-primary"><%= link_to "Show this country", @country, style: 'color:white; text-decoration:none' %></button> |
  <button class="btn btn-outline-warning"><%= link_to "Back to countries", countries_path, style: 'color:white; text-decoration:none' %></button>
</div>
