<p style="color: green"><%= notice %></p>

<% content_for :title, "Countries" %>

<h1>Countries</h1>

<div id="countries">
  <% @countries.each do |country| %>
    <%= render country %>
    <p>
      <button class="btn btn-outline-success"><%= link_to "Show this country", country, style: 'color:white; text-decoration:none' %></button>
    </p>
  <% end %>
</div>

<button class="btn btn-outline-primary"><%= link_to "New country", new_country_path, style: 'color:white; text-decoration:none' %></button>
