<% content_for :title, "Editing city" %>

<h1>Editing city</h1>

<%= render "form", city: @city %>

<br>

<div>
  <button class="btn btn-outline-primary"><%= link_to "Show this city", @city, style: 'color: white; text-decoration: none;' %></button> |
  <button class="btn btn-outline-warning"><%= link_to "Back to cities", cities_path, style: 'color: white; text-decoration: none;' %></button>
</div>
