<p style="color: green"><%= notice %></p>

<% content_for :title, "Cities" %>

<h1>Cities</h1>

<div id="cities">
  <% @cities.each do |city| %>
    <%= render city %>
    <p>
      <button class="btn btn-outline-primary"><%= link_to "Show this city", city, style: 'color:white; text-decoration:none' %></button>
    </p>
  <% end %>
</div>

<button class="btn btn-outline-warning"><%= link_to "New city", new_city_path, style: 'color:white; text-decoration:none' %></button>
