<% content_for :title, "New city" %>

<h1>New city</h1>

<%= render "form", city: @city %>

<br>

<div>
  <button class="btn btn-outline-warning"><%= link_to "Back to cities", cities_path, style: 'color:white; text-decoration:none' %></button>
</div>
