<% content_for :title, "Editing product" %>

<h1>Editing product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <button class="btn btn-outline-primary"><%= link_to "Show this product", @product, style: 'color:white; text-decoration:none' %></button> |
  <button class="btn btn-outline-warning"><%= link_to "Back to products", products_path, style: 'color:white; text-decoration:none' %></button>
</div>
