<% content_for :title, "New product" %>

<h1>New product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <button class="btn btn-outline-warning"><%= link_to "Back to products", products_path, style: 'color:white; text-decoration:none' %></button>
</div>
